extends layout.pug


block content
  .hero.hero--inner(style="background-image: url(img/heroes/about.jpg)")
    .hero__container
      .grid.grid--container
        form.hero-form
          .hero-form__control
            select.custom-select
              option Квартира
              option Квартира
              option Квартира
          .hero-form__control
            select.custom-select
              option Студия
              option Студия
              option Студия
          .hero-form__control
            input(type="text" placeholder="Срок сдачи" data-input).datepicker
          .hero-form__control
            input(type="number" placeholder="от")
          .hero-form__control
            input(type="number" placeholder="до")
          .hero-form__control
            input(type="number" placeholder="Площадь")
          .hero__link
            a(href="").megalink.megalink--white
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Поиск по карте
          input(type="submit" value="Найти").btn
        .hero__icons
          .hero__icons-left
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/params.png", alt="")
              .icon__text Квартира<br>по параметрам
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/type.png", alt="")
              .icon__text Квартира<br>по типу
            a(href="").icon
              .icon__symbol.icon__symbol--fix
                img(src="./img/icons/house.png", alt="")
              .icon__text Ипотека
            a(href="#calculator").icon.calculator-open
              .icon__symbol
                img(src="./img/icons/calc.png", alt="")
              .icon__text Ипотечный<br>калькулятор
          .hero__icons-right
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/address.png", alt="")
              .icon__text Отделы продаж
          .hero__icons-absolute
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/camera.png", alt="")
              .icon__text Следить за ходом<br>строительства


  .breadcrumbs
    .grid.grid--container
      .breadcrumbs__container
        a(href="").breadcrumbs__link Главная
        .breadcrumbs__link.breadcrumbs__link--active О компании


  section.section.section--gray.scrollme
    .grid.grid--container.scrollme
      h2.h2 О компании «МегаАльянс»
      p.subheader Почему стоит выбрать из многообразия предложений нашу компанию?

      .parallax(style="background-image: url(img/parallax/about-bg.jpg)")
        .parallax__hero.parallax__hero--special
          img.animateme(src="./img/parallax/about.png", alt=""
            data-when="enter"
            data-from="0"
            data-to="1.5"
            data-translatex="60")
        .parallax__container
          .parallax__title Застройщик квартир <br>в Краснодаре
          .parallax__text «МегаАльянс» успешно работает на рынке недвижимости Краснодара более 8 лет — с 2009 года. Нашей ключевой задачей является своевременная реализация качественных и современных проектов, которые обеспечивают максимальный комфорт и соответствуют актуальным требованиям безопасности.
          a(href="").btn Квартиры в продаже

  section.section.section--blue
    .grid.grid--container
      h2.h2 Преимущества покупки квартир от застройщика МегаАльянс
      .row
        .col.col--sm-8.col--sm-flex
          .special-white-block
            p На счету компании «МегаАльянс» три крупных реализованных проекта многоквартирных жилых комплексов. Отличительной особенностью домов от «МегаАльянс» является исключительное качество строительства и особый подход к благоустройству территории. «МегаАльянс» входит в двадцатку образцовых застройщиков Краснодара по качеству жилья , среди партнеров компании можно отметить крупнейшие банки России.
            p В компании работают профессионалы своего дела, которые день за днем идут к общей цели: строительству качественного и доступного жилья, которое соответствует актуальным требованиям времени. Компания растет и развивается, постоянно увеличивая объемы возводимого жилья.
        .col.col--sm-4.col--sm-flex
          .blocks
            .block.block--red
              .block__text На рынке недвижимости Краснодара более 8 лет
            .block
              .block__text Работа исключительно в рамках 214 ФЗ
            .block
              .block__text Бесплатное юридическое сопровождение
            .block
              .block__text 11 437 счастливых покупателя

  section.section.section--gray
    .grid.grid--container
      h2.h2 Менеджмент
      .tabs
        .tabs__header-container
          .tabs__header
            .tabs__link.tabs__link--active Руководство компании
            .tabs__link Менеджеры
          .tabs__buttons
            a(href="").megalink
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text На карте

        .tabs__content.tabs__content--active
          .row
            - for (var i = 0; i < 6; i++)
              .col.col--lg-6
                .manager
                  .manager__photo(style="background-image: url(./img/manager.jpg)")
                  .manager__info
                    .manager__name Маркушин Дмитрий Андреевич
                    .manager__specialization Менеджер по продажам
        .tabs__content
          .row
            - for (var i = 0; i < 6; i++)
              .col.col--lg-6
                .manager
                  .manager__photo(style="background-image: url(./img/manager-2.jpg)")
                  .manager__info
                    .manager__name Маркушин Дмитрий Андреевич
                    .manager__specialization Менеджер по продажам

  section.section.section--padding-fix
    .grid.grid--container
      .row
        .col.col--lg-3.col--md-4.col--sm-6
          .file
            .file__icon
              img(src="./img/pdf.png", alt="")
            .file__content
              a(href="" download).file__name Выписка из ЕГРЮЛ
              .file__size размер: 213 Кб
        .col.col--lg-3.col--md-4.col--sm-6
          .file
            .file__icon
              img(src="./img/pdf.png", alt="")
            .file__content
              a(href="" download).file__name ОГРН и ИНН
              .file__size размер: 213 Кб
        .col.col--lg-3.col--md-4.col--sm-6
          .file
            .file__icon
              img(src="./img/pdf.png", alt="")
            .file__content
              a(href="" download).file__name Огрюл
              .file__size размер: 213 Кб
        .col.col--lg-3.col--md-4.col--sm-6
          .file
            .file__icon
              img(src="./img/pdf.png", alt="")
            .file__content
              a(href="" download).file__name Аудиторское заключение за 2016 год
              .file__size размер: 213 Кб
        .col.col--lg-3.col--md-4.col--sm-6
          .file
            .file__icon
              img(src="./img/pdf.png", alt="")
            .file__content
              a(href="" download).file__name ДДУ Литер 1 ЖК Семейный Парк
              .file__size размер: 213 Кб
        .col.col--lg-3.col--md-4.col--sm-6
          .file
            .file__icon
              img(src="./img/pdf.png", alt="")
            .file__content
              a(href="" download).file__name ДДУ ЖК Янтарный-4
              .file__size размер: 213 Кб
        .col.col--lg-3.col--md-4.col--sm-6
          .file
            .file__icon
              img(src="./img/pdf.png", alt="")
            .file__content
              a(href="" download).file__name ДДУ Литер 2 ЖК Семейный Парк
              .file__size размер: 213 Кб

  section.section.section--gray
    .grid.grid--container
      h2.h2 Партнеры компании
      .partners.slider
        .partner
          img(src="./img/sberbank.png", alt="")
        .partner
          img(src="./img/vtb.png", alt="")
        .partner
          img(src="./img/raiffeisen.png", alt="")
        .partner
          img(src="./img/uralsib.png", alt="")
        .partner
          img(src="./img/sberbank.png", alt="")








