doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title МегаАльянс
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
    //- script(src="mapbasics.js" type="text/javascript")
  body

    header.top-header
      .grid.grid--container
        .top-header__container
          .top-header__phone 8 861 204-18-83
          a(href="#callback").top-header__callback.modal-open Обратный звонок
          .top-header__item.top-header__time
            .top-header__icon
              img(src="./img/clock.png", alt="")
            .top-header__text Пн- Пт, с 9:00 до 18:00 (ежедневно без выходных)
          .top-header__item.top-header__likes
            .top-header__icon
              img(src="./img/heart.png", alt="")
            .top-header__text Избранное

    header.main-header
      .grid.grid--container
        .main-header__container
          a(href="./pages.html").logo
          .nav
            .nav__link
              a(href="") О компании
              .subnav
                .grid.grid--container
                  a(href="").subnav__link О компании
                  a(href="").subnav__link О компании
            .nav__link
              a(href="") Объекты в продаже
              .subnav
                .grid.grid--container
                  a(href="").subnav__link История
                  a(href="").subnav__link Руководство
                  a(href="").subnav__link Менеджеры
                  a(href="").subnav__link Документы
                  a(href="").subnav__link Партнеры
                  a(href="").subnav__link Вакансии
                  a(href="").subnav__link Контакты
            .nav__link
              a(href="#") Выбор квартир
            .nav__link
              a(href="#") Покупателям
            .nav__link
              a(href="#") Проекты
            .nav__link
              a(href="#") Новости и акции
            .nav__link
              a(href="#") Риэлторам
            .nav__link
              a(href="#") Ход сроительства

    block content

    section.section--short-news
      .grid.grid--container
        .short-news
          .short-news__left Новости продаж
          .short-news__right
            .short-news__text Коммерческие помещения! Квартиры с ремонтом от 954 000 рублей ЖК "Семейный Парк"!

    section.pre-footer
      .grid.grid--container
        .pre-footer__container
          .btn.btn--big.btn--dotted Задать вопрос
          .btn.btn--big.btn--dotted Подписаться на акции
          .pre-footer__arm
            img(src="./img/arm.png", alt="")

    footer.main-footer
      .grid.grid--container
        .row
          .col.col--md-3
            .logo.logo--white
            .copy Квартиры от застройщика в Краснодаре<br>&copy; 2015—2017
            a(href="").wf Создание сайта в Webformula
          .col.col--md-2
            .main-footer-nav
              .main-footer-nav__link
                a(href="") О компании
              .main-footer-nav__link
                a(href="") Объекты в продаже
              .main-footer-nav__link
                a(href="") Новости и Акции
              .main-footer-nav__link
                a(href="") Риэлторам
          .col.col--md-3
            .socials
              a(href="").social
                i.fa.fa-vk
              a(href="").social
                i.fa.fa-facebook
              a(href="").social
                i.fa.fa-odnoklassniki
              a(href="").social
                i.fa.fa-instagram
            .main-footer-nav.main-footer-nav--gray
              .main-footer-nav__link
                a(href="") Политика конфиденциальности
              .main-footer-nav__link
                a(href="") Карта сайта
          .col.col--md-4
            p.text-gray Официальный сай застройщика ООО «МегаАльянс».Новости, отзывы покупателей, мнение о квартальной застройке.
            p 350062, Краснодар,Пр-т им. Константина Образцова, 2<br>понедельник - пятница, с 9:00 до 18:00
            a(href="").btn Офисы продаж
 


    #callback.modal
      .modal__align
        .modal__left(style="background-image: url(/img/modal.jpg)")
          .modal__circle
            .modal__offer Скидки до 20%!
            .modal__sub-offer Однокомнатные квартиры от 954 тыс руб.
        .modal__right
          .modal__container
            .modal__title Хотите, мы бесплатно перезвоним Вам и все обсудим 
              span или ответим в чате?
            form.form
              .row
                .col.col--lg-6
                  .form-control
                    input(type="text").phone-mask
                .col.col--lg-6
                  button.btn Хорошо, жду звонка
              .modal__subtitle Сейчас неудобно? Выберите удобное время для звонка.
              .checkbox.mini-offset
                input(type="checkbox" id="checkbox")
                label(for="checkbox").checkbox__label
                label.checkbox__text(for="checkbox") Я согласен на обработку 
                  a(href="") персональных данных



    script(src="./js/jquery-2.2.1.min.js")
    script(src="./js/jquery.easeScroll.js")
    script(src="./js/jquery.scrollme.js")
    script(src="./js/slick.min.js")
    script(src="./js/select2.min.js")
    script(src="./js/nouislider.min.js")
    script(src="./js/wNumb.js")
    script(src="./js/jquery.magnific-popup.min.js")
    script(src="./js/flatpickr.min.js")
    script(src="./js/jquery.inputmask.bundle.min.js")
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="./js/main.js")