doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title МегаАльянс
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
    //- script(src="mapbasics.js" type="text/javascript")
  body

    header.top-header
      .grid.grid--container
        .top-header__container
          .top-header__phone 8 861 204-18-83
          a(href="#callback").top-header__callback.modal-open Обратный звонок
          .top-header__item.top-header__time
            .top-header__icon
              img(src="./img/clock.png", alt="")
            .top-header__text Пн- Пт, с 9:00 до 18:00 (ежедневно без выходных)
          .top-header__item.top-header__likes
            .top-header__icon
              img(src="./img/heart.png", alt="")
            .top-header__text Избранное

    header.main-header
      .grid.grid--container
        .main-header__container
          a(href="./pages.html").logo
          .nav
            .nav__link
              a(href="") О компании
              .subnav
                .grid.grid--container
                  a(href="").subnav__link О компании
                  a(href="").subnav__link О компании
            .nav__link
              a(href="") Жилые комплексы
              .subnav
                .grid.grid--container
                  a(href="").subnav__link История
                  a(href="").subnav__link Руководство
                  a(href="").subnav__link Менеджеры
                  a(href="").subnav__link Документы
                  a(href="").subnav__link Партнеры
                  a(href="").subnav__link Вакансии
                  a(href="").subnav__link Контакты
            .nav__link
              a(href="#") Выбор квартир
            .nav__link
              a(href="#") Как купить?
            .nav__link
              a(href="#") Готовые интерьеры
            .nav__link
              a(href="#") Пресс-центр
            .nav__link
              a(href="#") Агенствам
            .main-header__menu-toggle
              .menu-toggle
                span
                span
                span

    section.menu
      .grid.grid--container
        .row
          .col.col--lg-8
            .menu__form
              form.menu__search
                .form-control
                  input(type="text" placeholder="Поиск по сайту")
                  img.search-img(src="./img/search.png", alt="")
                button.btn
                  span Искать
                  img(src="./img/search.png", alt="")
        .menu__list.row
          .col.col--sm-3
            .item
              .item__title О компании
              a(href="").item__link О компании
              a(href="").item__link Вакансии
              a(href="").item__link Контакты
          .col.col--sm-3
            .item
              .item__title Жилые комплексы
              a(href="").item__link Объекты в продаже
              a(href="").item__link Коммерческая недвижимость
              a(href="").item__link Ипотека
              a(href="").item__link Реализованные проекты
              a(href="").item__link Ход строительства
          .col.col--sm-3
            .item
              .item__title Выбор квартиры
              .item__title Как купить?
              .item__title Готовые интерьеры
              .item__title Анентствам
          .col.col--sm-3
            .item
              .item__title Пресс-центр
              a(href="").item__link Спецпредложения
              a(href="").item__link Новости
              a(href="").item__link События
              a(href="").item__link Подписаться

        .menu__bottom.row.row--sm-center
          .col.col--lg-3.col--sm-4
            .socials
              a(href="").social
                i.fa.fa-vk
              a(href="").social
                i.fa.fa-facebook
              a(href="").social
                i.fa.fa-odnoklassniki
              a(href="").social
                i.fa.fa-instagram
          .col.col--lg-9.col--sm-8
            a(href="").megalink
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Обратный звонок
            a(href="").megalink
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Обратная связь


    block content

    section.section--short-news
      .grid.grid--container
        .short-news
          .short-news__left Новости продаж
          .short-news__right
            .short-news__text Коммерческие помещения! Квартиры с ремонтом от 954 000 рублей ЖК "Семейный Парк"!

    section.pre-footer
      .grid.grid--container
        .pre-footer__container
          a(href="#question").btn.btn--big.modal-open Задать вопрос
          a(href="#subscribe").btn.btn--big.btn--solid.modal-open Подписаться на акции
          .pre-footer__arm
            img(src="./img/arm2.png", alt="")

    footer.main-footer
      .grid.grid--container
        .row
          .col.col--md-3
            .logo.logo--white
            .copy Квартиры от застройщика в Краснодаре<br>&copy; 2015—2017
            a(href="").wf Создание сайта в Webformula
          .col.col--md-2
            .main-footer-nav
              .main-footer-nav__link
                a(href="") О компании
              .main-footer-nav__link
                a(href="") Объекты в продаже
              .main-footer-nav__link
                a(href="") Новости и Акции
              .main-footer-nav__link
                a(href="") Риэлторам
          .col.col--md-3
            .socials
              a(href="").social
                i.fa.fa-vk
              a(href="").social
                i.fa.fa-facebook
              a(href="").social
                i.fa.fa-odnoklassniki
              a(href="").social
                i.fa.fa-instagram
            .main-footer-nav.main-footer-nav--gray
              .main-footer-nav__link
                a(href="") Политика конфиденциальности
              .main-footer-nav__link
                a(href="") Карта сайта
          .col.col--md-4
            p.text-gray Официальный сай застройщика ООО «МегаАльянс».Новости, отзывы покупателей, мнение о квартальной застройке.
            p 350062, Краснодар,Пр-т им. Константина Образцова, 2<br>понедельник - пятница, с 9:00 до 18:00
            a(href="").btn Офисы продаж
 


    #callback.modal
      .modal__align
        .modal__left(style="background-image: url(./img/modal.jpg)")
          .modal__circle
            .modal__offer Скидка 2000 ₽ с м
              sup 2
        .modal__right
          .modal__container
            .modal__title Хотите, мы бесплатно перезвоним Вам и все обсудим 
              span или ответим в чате?
            form.form
              .row
                .col.col--lg-6
                  .form-control
                    input(type="text").phone-mask
                .col.col--lg-6
                  button.btn Хорошо, жду звонка
              .modal__subtitle Сейчас неудобно? Выберите удобное время для звонка.
              .checkbox.mini-offset
                input(type="checkbox" id="checkbox")
                label(for="checkbox").checkbox__label
                label.checkbox__text(for="checkbox") Я согласен на обработку 
                  a(href="") персональных данных

    #question.modal
      .modal__align
        .modal__left(style="background-image: url(./img/modal.jpg)")
          .modal__circle
            img(src="./img/logo-white.png", alt="")
        .modal__right
          .modal__container
            .modal__title Остались вопросы? 
              span Задайте их менеджеру.
            form.form
              .row
                .col.col--lg-10
                  .form-control
                    input(type="text" placeholder="Представьтесь")
                .col.col--lg-6
                  .form-control
                    input(type="text").phone-mask
                .col.col--lg-6
                  .form-control
                    input(type="email" placeholder="Эл. почта")
                .col.col--lg-12
                  .form-control
                    textarea(placeholder="Ваше сообщение")
              .row.row--sm-center
                .col.col--lg-8
                  .checkbox
                    input(type="checkbox" id="checkbox")
                    label(for="checkbox").checkbox__label
                    label.checkbox__text(for="checkbox") Я согласен на обработку 
                      a(href="") персональных данных
                .col.col--lg-4.text--sm-right
                  button.btn Отправить


    #subscribe.modal
      .modal__align
        .modal__left(style="background-image: url(./img/modal.jpg)")
          .modal__circle
            .modal__offer Скидка 2000 ₽ с м
              sup 2
        .modal__right
          .modal__container
            .modal__title Хотите получать наши акции?
              br
              span Просто оставьте вашу электронную почту!
            form.form
              .row
                .col.col--lg-6
                  .form-control
                    input(type="email" placeholder="Эл. почта")
                .col.col--lg-6
                  button.btn Хорошо, жду письма
              .modal__subtitle Сейчас неудобно? Выберите удобное время для звонка.
              .checkbox.mini-offset
                input(type="checkbox" id="checkbox")
                label(for="checkbox").checkbox__label
                label.checkbox__text(for="checkbox") Я согласен на обработку 
                  a(href="") персональных данных


    script(src="./js/jquery-2.2.1.min.js")
    script(src="./js/jquery.easeScroll.js")
    script(src="./js/jquery.scrollme.js")
    script(src="./js/slick.min.js")
    script(src="./js/select2.min.js")
    script(src="./js/nouislider.min.js")
    script(src="./js/wNumb.js")
    script(src="./js/jquery.magnific-popup.min.js")
    script(src="./js/flatpickr.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js")
    script(src="./js/jquery.inputmask.bundle.min.js")
    script(src="./js/sweetalert2.all.min.js")
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="./js/main.js")