extends layout.pug


block content
  .hero
    .hero__container
      .grid.grid--container
        .hero-slider.slider
          .slide
            .slide__title 2-комнатная квартира по цене 1-комнатной
            .slide__subtitle Предлагаем двухкомнатные квартиры по цене от 1 300 000 рублей.
            .slide__sub Количество ограничено!
          .slide
            .slide__title Квартиры все включено
            .slide__subtitle Предлагаем двухкомнатные квартиры по цене от 1 300 000 рублей.
            .slide__sub Количество ограничено!
          .slide
            .slide__title Реализуем коммерчиские помещения
            .slide__subtitle Предлагаем двухкомнатные квартиры по цене от 1 300 000 рублей.
            .slide__sub Количество ограничено!
        form.hero-form
          .hero-form__control
            select.custom-select
              option Квартира
              option Квартира
              option Квартира
          .hero-form__control
            select.custom-select
              option Студия
              option Студия
              option Студия
          .hero-form__control
            input(type="text" placeholder="Срок сдачи").datepicker
          .hero-form__control
            input(type="number" placeholder="от")
          .hero-form__control
            input(type="number" placeholder="до")
          .hero-form__control
            input(type="number" placeholder="площадь")
          input(type="submit" value="Найти").btn
        .hero__icons
          .hero__icons-left
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/params.png", alt="")
              .icon__text Квартира<br>по параметрам
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/type.png", alt="")
              .icon__text Квартира<br>по типу
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/house.png", alt="")
              .icon__text Ипотека
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/calc.png", alt="")
              .icon__text Ипотечный<br>калькулятор
          .hero__icons-right
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/address.png", alt="")
              .icon__text Отделы<br>продаж
          .hero__icons-absolute
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/camera.png", alt="")
              .icon__text Следить за ходом<br>строительства


  
  section.section.section--slider
    .grid.grid--container
      h2.h2 Застройщик квартир в Краснодаре
      p.subheader В  нашем активе — как отдельные дома, так и масштабные жилые комплексы
      .index-slider.slider
        - for (var i = 0; i < 3; i++)
          .slide(style="background-image: url(img/slides/1.jpg)")
            .slide__left На рынке недвижимости Краснодара более 8 лет.
            .slide__right
              .text-center
                .logo.logo--with-solid
              p Нашей ключевой задачей является своевременная реализация качественных и современных проектов, которые обеспечивают максимальный комфорт и соответствуют актуальным требованиям безопасности.
              a(href="").megalink
                .megalink__icon
                  img(src="./img/megalink-white.png", alt="")
                .megalink__text Подробнее

  section.section.section--formats
    h2.h2 Качественно новое пространство для жизни
    p.subheader Разнообразие форматов квартир, широкий выбор планировочных решений и продуманная инфраструктура.
    .grid.grid--container
      .tabs
        .tabs__header-container
          .tabs__header
            .tabs__link.tabs__link--active Объекты в продаже
            .tabs__link Реализованные проекты
          .tabs__buttons
            a(href="").megalink
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text На карте

        .tabs__content.tabs__content--active
          .row
            .col.col--lg-flex.col--xl-4.col--sm-5
              .object-card(style="background-image: url(img/card-1.jpg)")
                .object-card__container
                  .object-card__title ЖК «Янтарный 4»
                  .object-card__address
                    img(src="./img/address.png", alt="")
                    span ул. Симеренко, 71.
                  .object-card__price от 1 500 000 до 4 150 000 руб.
                  a(href="").megalink
                    .megalink__icon
                      img(src="./img/megalink.png", alt="")
                    .megalink__text подробнее
                  .like

            .col.col--lg-flex.col--xl-8.col--sm-7
              .object-card(style="background-image: url(img/card-2.jpg)")
                .object-card__container
                  .object-card__title ЖК «Семейный парк»
                  .object-card__info
                    .object-card__address
                      img(src="./img/address.png", alt="")
                      span ул. Прикубанский, 9-я Тихая.
                    .object-card__time
                      img(src="./img/clock-white.png", alt="")
                      span Старт продаж. Срок сдачи — 3й квартал 2018
                  .object-card__price от 800 000 до 2 500 000 руб.
                  a(href="").megalink
                    .megalink__icon
                      img(src="./img/megalink.png", alt="")
                    .megalink__text подробнее
                  .like
                  .object-card__logo
                    img(src="./img/park.png", alt="")

        .tabs__content
          .row
            - for (var i = 1; i < 4; i++)
              .col.col--sm-4
                .card
                  .card__img(style="background-image: url(./img/cards/" + i + ".jpg)")
                    .card__img-container
                      .card__title ЖК «Янтарный 3»
                      .card__address
                        img(src="./img/address.png", alt="")
                        span ул. Прикубанский, 9-я Тихая.
                      .like
                  .card__container
                    .card__table
                      .card__row
                        span Этажность
                        span 16
                      .card__row
                        span Количество литеров
                        span 2
                    .card__price Квартиры 
                      strong от 2 550 000 до 5 450 000
                    a(href="").megalink
                      .megalink__icon
                        img(src="./img/megalink.png", alt="")
                      .megalink__text подробнее
                    .card__status
                      img(src="./img/clock-gray.png", alt="")
                      span дома сданы


  .white-block
    .grid.grid--container
      .row.row--lg-center
        .col.col--md-flex.col--md-3
          .white-block__left
            .white-block__title Скидка 2%
            .white-block__subtitle при 100% оплате и ипотеке
        .col.col--md-flex.col--md-9
          .white-block__right
            .white-block__second-header Рассрочки
            .white-block__text На 3 месяца без удорожания (от 40% первоначальный взнос) <br>На 6 мес с удорожанием (2% на остаток, от 40% первоначальный взнос)
            .white-block__img
              img(src="./img/coin.png", alt="")

  
  section.section.section--formats
    .grid.grid--container
      h2.h2 Редкие форматы квартир
      p.subheader Казалось бы, незначительные улучшения кардинально меняют качество жизни обладателей наших квартир.
      .formats
        .item
          .item__container(style="background-image: url(./img/formats/1.jpg)")
            .item__text Для гармоничных
          .block
            .block__title Дизайн проекты квартир
            p.block__anons Наше настроение, внутрення гармония, успех и дела начинаются дома! Мы стараемся разрабатывать личные интерьеры исключительно для его обладателей. Мы работаем во всех стилях и занимаемся разработкой интерьеров разной сложности.
            a(href="").megalink
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Подробнее
        .item
          .item__container(style="background-image: url(./img/formats/2.jpg)")
            .item__text Для гармоничных
          .block
            .block__title Дизайн проекты квартир
            p.block__anons Наше настроение, внутрення гармония, успех и дела начинаются дома! Мы стараемся разрабатывать личные интерьеры исключительно для его обладателей. Мы работаем во всех стилях и занимаемся разработкой интерьеров разной сложности.
            a(href="").megalink
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Подробнее
        .item
          .item__container(style="background-image: url(./img/formats/2.jpg)")
            .item__text Для гармоничных
          .block
            .block__title Дизайн проекты квартир
            p.block__anons Наше настроение, внутрення гармония, успех и дела начинаются дома! Мы стараемся разрабатывать личные интерьеры исключительно для его обладателей. Мы работаем во всех стилях и занимаемся разработкой интерьеров разной сложности.
            a(href="").megalink
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Подробнее
        .item
          .item__container(style="background-image: url(./img/formats/3.jpg)")
            .item__text Для гармоничных
          .block
            .block__title Дизайн проекты квартир
            p.block__anons Наше настроение, внутрення гармония, успех и дела начинаются дома! Мы стараемся разрабатывать личные интерьеры исключительно для его обладателей. Мы работаем во всех стилях и занимаемся разработкой интерьеров разной сложности.
            a(href="").megalink
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Подробнее
        .circle
          .circle__icon
            img(src="./img/divider.png", alt="")
          .circle__text В центре жизни



  .white-block
    .grid.grid--container
      .row.row--lg-center
        .col.col--md-flex.col--md-3
          .white-block__left
            .white-block__title Проект<br>в жизнь
        .col.col--md-flex.col--md-9
          .white-block__right
            .white-block__text Воплотить дизайн-проект в жизнь помогут наши профессиональные команды строителей! Все работы проводятся с учетом законодательства и только с качественными строительными материалами!

  section.section.section--news
    h2.h2 Новости и спецпредложения
    p.subheader Новости и самые выгодные предложения для подписчиков
    .grid.grid--container
      .tabs
        .tabs__header-container
          .tabs__header
            .tabs__link.tabs__link--active Новости
            .tabs__link Спецпредложения
          .tabs__buttons
            a(href="").megalink
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Все новости и акции

        .tabs__content.tabs__content--active
          .news-slider.slider

            - for (var i = 1; i < 5; i ++)
              .news-slider__item
                .news-slider__hover
                  .news-slider__hover-container
                    .news-slider__hover-title
                      span Яркая жизнь
                      | вместе<br>с МегаАльянс
                    .news-slider__hover-ico
                      img(src="./img/microphone.png", alt="")
                .news-slider__img(style="background-image: url(./img/news/" + i + ".jpg)")
                .news-slider__container
                  .news-slider__date 5 мая 2017
                  .news-slider__title Выставка Недвижимости в Экспоград – Юг 21-23 апреля, как это было.
                  .news-slider__down
                    a(href="").megalink
                      .megalink__icon
                        img(src="./img/megalink-white.png", alt="")
                      .megalink__text Подробнее
                  //- .news-slider__video
                  //-   .news-slider__video-icon
                  //-     img(src="./img/video.png", alt="")
                    .news-slider__video-text Смотреть ролик



        .tabs__content
          .offers-slider.slider
            - for (var i = 0; i < 3; i++)
              .slide
                img(src="./img/spec.png", alt="")
                .slide__box
                  .slide__icon
                    img(src="./img/wallet.png", alt="")
                  .slide__container
                    .slide__title Успей купить квартиру до повышения цен
                    .slide__phone 8 861 292-46-52
                    .slide__date Акция действует до 15 сентября 2017 г.



  section.section.section--banks
    h2.h2 Смотрите, выгодная ипотека
    p.subheader Ниже располагается вся необходимая информация для совершения покупки квартир по самым выгодным условия
    .grid.grid--container
      .tabs
        .tabs__header-container
          .tabs__header
            .tabs__link.tabs__link--active Ипотека
            .tabs__link Материнский капитал
            .tabs__link Рассрочка без %
          .tabs__buttons
            .item.item--type-1
              .item__icon
                img(src="./img/plus.png", alt="")
              .item__text Все банки партнеры
            .item.item--type-2
              .item__icon
                img(src="./img/calc.png", alt="")
              .item__text Ипотечный калькулятор

        .tabs__content.tabs__content--active
          - var banks = ["sberbank", "raiffeisen", "vtb"];
          .banks
            - for(var i = 0; i < 3; i++)
              .bank
                .bank__top
                  .bank__info
                    .bank__logo
                      img(src="./img/" + banks[i] + ".png", alt="")
                    .bank__percent от 7,4%
                  .bank__table
                    .item
                      .item__label Ставка по кредиту
                      .item__text от 7,4%
                    .item
                      .item__label Минимальный взнос
                      .item__text от 15%
                    .item
                      .item__label Срок кредита
                      .item__text до 7 лет
                    .item
                      .item__label Макс. сумма кредита
                      .item__text до 25 млн. руб.
                  .bank__arrow
                    img(src="./img/arrow.png", alt="")
                .bank__bottom
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum expedita deserunt ratione magni, suscipit nulla provident incidunt voluptates vel molestias beatae debitis, dolores tenetur, similique perferendis! Consectetur repellendus, fugit. Debitis.
        .tabs__content
          .banks
            - for(var i = 0; i < 1; i++)
              .bank
                .bank__top
                  .bank__logo
                    img(src="./img/sberbank.png", alt="")
                  .bank__percent от 7,4%
                  .bank__table
                    .item
                      .item__label Ставка по кредиту
                      .item__text от 7,4%
                    .item
                      .item__label Минимальный взнос
                      .item__text от 15%
                    .item
                      .item__label Срок кредита
                      .item__text до 7 лет
                    .item
                      .item__label Макс. сумма кредита
                      .item__text до 25 млн. руб.
                  .bank__arrow
                    img(src="./img/arrow.png", alt="")
                .bank__bottom
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum expedita deserunt ratione magni, suscipit nulla provident incidunt voluptates vel molestias beatae debitis, dolores tenetur, similique perferendis! Consectetur repellendus, fugit. Debitis.
        .tabs__content
          .banks
            - for(var i = 0; i < 2; i++)
              .bank
                .bank__top
                  .bank__logo
                    img(src="./img/sberbank.png", alt="")
                  .bank__percent от 7,4%
                  .bank__table
                    .item
                      .item__label Ставка по кредиту
                      .item__text от 7,4%
                    .item
                      .item__label Минимальный взнос
                      .item__text от 15%
                    .item
                      .item__label Срок кредита
                      .item__text до 7 лет
                    .item
                      .item__label Макс. сумма кредита
                      .item__text до 25 млн. руб.
                  .bank__arrow
                    img(src="./img/arrow.png", alt="")
                .bank__bottom
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum expedita deserunt ratione magni, suscipit nulla provident incidunt voluptates vel molestias beatae debitis, dolores tenetur, similique perferendis! Consectetur repellendus, fugit. Debitis.

      
  section.section.section--mortage
    .grid.grid--container
      h2.h2 Расчитать ипотеку
      p.subheader Ниже располагается вся необходимая информация для совершения покупки квартир по самым выгодным условиям
      form.form
        .row
          .col.col--lg-4
            .form-control
              label Стоимость квартиры
              input(type="number" value="1900000")
              .form-control__text руб.
          .col.col--lg-4
            .form-control
              label Возраст
              input(type="number" value="25")
          .col.col--lg-4
            .form-control
              label Гражданство
              select.custom-select
                option Российская Федерация
                option Российская Федерация
                option Российская Федерация
              .form-control__icon
                i.fa.fa-angle-down
          .col.col--lg-4
            .form-control.form-control--inline
              label Первоначальный взнос
              input(id="initial-pay-input" type="number" value="1900000")
              .form-control__text руб.
            #initial-pay
          .col.col--lg-4
            .form-control.form-control--inline
              label Срок кредита
              input(id="credit-term-input" type="number" value="10")
              .form-control__text лет
            #credit-term
          .col.col--lg-4
            .calc
              span Сумма кредита: 
              .calc__result
                span 1 400 000
                |  руб.

  section.section--mortage-star
    .grid.grid--container
      .mortage-star Приведенные расчеты носят предварительный характер. Окончательный расчет суммы кредита и размер ежемесячного платежа производятся банком после предоставления полного комплекта документов и проведения оценки платежеспособности клиента.

  section.section--short-news
    .grid.grid--container
      .short-news
        .short-news__left Новости продаж
        .short-news__right
          .short-news__text Коммерческие помещения! Квартиры с ремонтом от 954 000 рублей ЖК "Семейный Парк"!




