$main = #111
$gray = #e0e2e4
$light-gray = #fafafa
$dark-gray = #757575
$baby-blue = #e5eef3
$primary = #eb251c
$secondary = #8795a3
$link = #477cc5
$red = #c00505

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$border = 1px solid #d9e5ea
$shadow = 0 16px 24px 0 rgba(135, 149, 163, .45)
$radius = 4px

$main-padding = 8rem 0
$main-offset = 8rem

$font = 'Roboto', 'Arial', 'Helvetica', sans-serif