extends layout.pug


block content
  .hero.hero--small
    .hero-shit-slider.slider
      .slide(style="background-image: url(img/object.jpg)")
      .slide(style="background-image: url(img/object-2.jpg)")
    .hero__container
      //- .hero-shit-slider__arrow.hero-shit-slider__arrow--left
        i.fa.fa-angle-left
      .hero-shit-slider__arrow.hero-shit-slider__arrow--right
        i.fa.fa-angle-right
      
      .hero__padding
        
        .hero__info
          .hero__info-container
            .hero__address Прикубанский округ, 9-я Тихая
            .hero__title ЖК «Семейный парк»
            .hero__subtitle Новый облик города и новые условия для жизни: зеленые зоны, чистый воздух.
            a(href="").btn Старт продаж
          .hero__logo
            img(src="./img/park.png")
        .hero__icons
          .hero__icons-left
            a(href="").icon
              .icon__symbol.icon__symbol--fix
                img(src="./img/icons/star.png", alt="")
              .icon__text Преимущества
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/type.png", alt="")
              .icon__text Квартира<br>по типу
            a(href="").icon
              .icon__symbol.icon__symbol--fix
                img(src="./img/icons/house.png", alt="")
              .icon__text Ипотека
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/calc.png", alt="")
              .icon__text Ипотечный<br>калькулятор
          .hero__icons-right
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/address.png", alt="")
              .icon__text Отделы продаж
          .hero__icons-absolute
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/camera.png", alt="")
              .icon__text Следить за ходом<br>строительства

  .breadcrumbs
    .grid.grid--container
      .breadcrumbs__container
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Объекты в продаже
        .breadcrumbs__link.breadcrumbs__link--active ЖК «Семейный парк»

  section.section.section--gray
    .grid.grid--container
      h2.h2 Все, что нужно для комфортной жизни в городе
      p.subheader Новый облик города и новые условия для жизни: зеленые зоны, чистый воздух.
      .subheader-btn
        a(href="").megalink
          .megalink__icon
            img(src="./img/megalink.png", alt="")
          .megalink__text Документы на строительство
      .comfort
        .comfort__left
          .comfort__title Развитый район
          .comfort__text
            p ЖК «Семейный Парк» расположен в новом микрорайоне Молодежный в Северо-западной части г. Краснодара. Здесь создается новый облик города и новые условия для жизни: зеленые зоны, чистый воздух.
            p В жилом комплексе мы предусмотрели возможность для семейного отдыха и активного досуга - благоустроенные площадки, спортивный клуб, кафе. Мини-маркет, аптека, медицинский центр, салон красоты - все необходимое для комфортной жизни рядом с домом.
              br
              | Безусловные преимущества комплекса: высокое качество строительства, яркая архитектура, комфортная плотность застройки, теплосберегающая технология отделки фасадов домов и при этом - доступная стоимость жилья.

          .comfort__info
            .comfort__address
              img(src="./img/address-red.png", alt="")
              strong Прикубанский, 9-я Тихая.
            .comfort__date
              img(src="./img/clock-red.png", alt="")
              strong Срок сдачи — 3й квартал 2018
        .comfort__right
          .comfort__img(style="background-image: url(img/comfort.jpg)")

  
  section
    .why
      .why__images
        .image.image--active(style="background-image: url(img/park-img.jpg)")
        .image(style="background-image: url(img/fitness.jpg)")
        .image.image--active(style="background-image: url(img/park-img.jpg)")
        .image(style="background-image: url(img/fitness.jpg)")
        .image.image--active(style="background-image: url(img/park-img.jpg)")
      .why__container
        .grid.grid--container
          .why__title Почему мы?
          .why__text Проектируя ЖК «Семейный парк», мы хотели, чтобы жизнь в нем протекала гармонично. Собрав все лучшее из опыта строительства в одном месте, мы постарались создать для жильцов максимум комфорта. При этом стоимость жилья будет оставаться на уровне "эконом"
      .why__align
        .grid.grid--container
          .why__icons
            .icon
              .icon__img
                img(src="./img/why/park.png", alt="")
              .icon__text Парковые<br>зоны
            .icon
              .icon__img
                img(src="./img/why/globus.png", alt="")
              .icon__text Детские<br>площадки
            .icon
              .icon__img
                img(src="./img/why/fitness.png", alt="")
              .icon__text Фитнес<br>зал
            .icon
              .icon__img
                img(src="./img/why/markets.png", alt="")
              .icon__text Мини-маркеты
            .icon
              .icon__img
                img(src="./img/why/farm.png", alt="")
              .icon__text Аптеки


  section.section.section--gray
    .grid.grid--container
      h2.h2 Есть выбор
      p.subheader Комплекс состоит из двух современных домов: 
        strong Литер 1 — десятиэтажный, Литер 2 —девятнадцатиэтажный.
      .choice
        .choice__wrap
          .choice__left
            .choice__control.choice-control
              label.choice-control__label Литер
              .choice-control__arrow.choice-control__arrow--top
                i.fa.fa-angle-up
              input(type="text" value="1" data-max="3").choice-control__input
              .choice-control__arrow.choice-control__arrow--bottom
                i.fa.fa-angle-down
            .choice__control.choice-control
              label.choice-control__label Подъезд
              .choice-control__arrow.choice-control__arrow--top
                i.fa.fa-angle-up
              input(type="text" value="2" data-max="6").choice-control__input
              .choice-control__arrow.choice-control__arrow--bottom
                i.fa.fa-angle-down
            .choice__control.choice-control
              label.choice-control__label Этаж
              .choice-control__arrow.choice-control__arrow--top
                i.fa.fa-angle-up
              input(type="text" value="5" data-max="19").choice-control__input
              .choice-control__arrow.choice-control__arrow--bottom
                i.fa.fa-angle-down

          .choice__right

            .choice__plans

              .choice__btn
                a(href="").megalink
                  .megalink__icon
                    img(src="./img/megalink.png", alt="")
                  .megalink__text Генплан

              .plans
                .plans__header
                  .plans__label Этаж:
                  .plans__numbers <span>5</span>/19
                .plans__img
                  img(src="./img/plans.png", alt="")
                .plans__another
                  .plans__label Похожие планировки
                  .plans__plan-container
                    .plan.plan--active
                      .plan__img
                        img(src="./img/plan.png", alt="")
                      span 2EM7_9.9-1_T
                    .plan
                      .plan__img
                        img(src="./img/plan.png", alt="")
                      span 2EM7_9.9-1_T


            .choice__img
              img(src="./img/plan.png", alt="")

            .choice__info
              .choice__btn
                .mega-btn
                  img(src="./img/glass.png", alt="")
                  span Записаться на просмотр
              .choice__title 1-комнатная квартира
              .choice__table
                .choice__row
                  span Общая площадь:
                  span 37,16 кв.м.
                .choice__row
                  span Жилая лощадь:
                  span 14,66 кв.м.
                .choice__row
                  span Жилая лощадь:
                  span 14,66 кв.м.
              .choice__price Стоимость квартиры
              .choice__price-number от 34 000 руб. за кв.м.
              .mega-btns.choice__buttons
                .mega-btn
                  img(src="./img/calc.png", alt="")
                  span Ипотечный<br>калькулятор
                .mega-btn
                  img(src="./img/tassel.png", alt="")
                  span Варианты отделок
              .btn Зарезервировать

        .choice__compass
          img(src="./img/compass.png", alt="")
          span Для выбора квартиры нажмите план этажа

  section.section.section--gray
    .grid.grid--container
      h2.h2 Условия покупки
      p.subheader Наши сотрудники будут рады помочь Вам выбрать и оформить кредит на самых оптимальных условиях.
      .tabs
        .tabs__header-container
          .tabs__header
            .tabs__link.tabs__link--active Ипотека
            .tabs__link Материнский капитал
            .tabs__link Рассрочка без %
            .tabs__link Военная ипотека
            .tabs__link МФЦ

        .tabs__content.tabs__content--active
          .red-slider.red-slider--with-offset.slider
            //- .slide(style="background-image: url(img/family.jpg)")
            .slide
              .slide__left(style="background-image: url(img/family.jpg)")
              .slide__right
                .slide__title Ипотека
                p Нашей ключевой задачей является своевременная реализация качественных и современных проектов, которые обеспечивают максимальный комфорт и соответствуют актуальным требованиям безопасности.
                a(href="").megalink
                  .megalink__icon
                    img(src="./img/megalink-white.png", alt="")
                  .megalink__text Подробнее

          - var banks = ["sberbank", "raiffeisen"];
          .banks
            - for(var i = 0; i < 2; i++)
              .bank
                .bank__top
                  .bank__info
                    .bank__logo
                      img(src="./img/" + banks[i] + ".png", alt="")
                    .bank__percent от 7,4%
                  .bank__table
                    .item
                      .item__label Ставка по кредиту
                      .item__text от 7,4%
                    .item
                      .item__label Минимальный взнос
                      .item__text от 15%
                    .item
                      .item__label Срок кредита
                      .item__text до 7 лет
                    .item
                      .item__label Макс. сумма кредита
                      .item__text до 25 млн. руб.
                  .bank__arrow
                    img(src="./img/arrow.png", alt="")
                .bank__bottom
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum expedita deserunt ratione magni, suscipit nulla provident incidunt voluptates vel molestias beatae debitis, dolores tenetur, similique perferendis! Consectetur repellendus, fugit. Debitis.
          
          .mega-btns
            .mega-btn
              img(src="./img/plus.png", alt="")
              span Все банки партнеры
            .mega-btn
              img(src="./img/calc.png", alt="")
              span Ипотечный<br>калькулятор

        .tabs__content
          p slide
        .tabs__content
          p slide
        .tabs__content
          p slide
        .tabs__content
          p slide

  section.section
    .grid.grid--container
      h2.h2 Медиатека
      .tabs
        .tabs__header-container
          .tabs__header
            .tabs__link.tabs__link--active Фото
            .tabs__link Видео
            .tabs__link Ход строительства
          .tabs__buttons.tabs__buttons--special
            a(href="").mega-btn
              img(src="./img/camera-red.png", alt="")
              span Веб камера

        .tabs__content
          p slide
        .tabs__content.tabs__content--active
          .video(style="background-image: url(img/video.jpg)")
            .mega-btns.video__buttons
              .mega-btn
                img(src="./img/video-big.png", alt="")
                span Смотреть ролик
              .mega-btn
                img(src="./img/download.png", alt="")
                span Скачать ролик
        .tabs__content
          p slide

  section.section.section--blue
    .grid.grid--container
      h2.h2 Дизайн-проекты квартир
      p.subheader Мы поможем воплотить дизайн-проект в жизнь и получить идеальный интерьер как с картинки!
      .card-slider.slider.row
        - for (var i = 1; i < 5; i++)
          .col.col--md-4
            .card
              .card__img(style="background-image: url(./img/design/" + i + ".jpg)")
                .card__img-container
                  .like
              .card__container
                .card__table
                  .card__row
                    span Количество комнат
                    span 3
                  .card__row
                    span Квадратные метры
                    span 68
                a(href="").megalink
                  .megalink__icon
                    img(src="./img/megalink.png", alt="")
                  .megalink__text подробнее

  section.section.section--gray
    .grid.grid--container
      h2.h2 Расположение объекта
      p.subheader Жителей ЖК «Семейный Парк» приятно порадуют маршруты во все районы города и отсутствие пробок.
      .tabs
        .tabs__header-container
          .tabs__header.map-center-change
            .tabs__link.tabs__link--active Объект
            .tabs__link Детский сад
            .tabs__link Школа
            .tabs__link Аптеки
            .tabs__link Больницы
            .tabs__link Кафе, рестораны
            .tabs__link Банк

      #map.map
        .map__align
          .map__info
            .text-center
              .logo.logo--with-solid
            p.map__address ЖК «Семейный Парк»
            p.map__p Прикубанский округ, 9-я Тихая






