extends layout.pug


block content
  .hero.hero--inner(style="background-image: url(img/heroes/vacancies.jpg)")
    .hero__container
      .grid.grid--container
        form.hero-form
          .hero-form__control
            select.custom-select
              option Квартира
              option Квартира
              option Квартира
          .hero-form__control
            select.custom-select
              option Студия
              option Студия
              option Студия
          .hero-form__control
            input(type="text" placeholder="Срок сдачи" data-input).datepicker
          .hero-form__control
            input(type="number" placeholder="от")
          .hero-form__control
            input(type="number" placeholder="до")
          .hero-form__control
            input(type="number" placeholder="Площадь")
          .hero__link
            a(href="").megalink.megalink--white
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Поиск по карте
          input(type="submit" value="Найти").btn
        .hero__icons
          .hero__icons-left
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/params.png", alt="")
              .icon__text Квартира<br>по параметрам
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/type.png", alt="")
              .icon__text Квартира<br>по типу
            a(href="").icon
              .icon__symbol.icon__symbol--fix
                img(src="./img/icons/house.png", alt="")
              .icon__text Ипотека
            a(href="#calculator").icon.calculator-open
              .icon__symbol
                img(src="./img/icons/calc.png", alt="")
              .icon__text Ипотечный<br>калькулятор
          .hero__icons-right
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/address.png", alt="")
              .icon__text Отделы продаж
          .hero__icons-absolute
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/camera.png", alt="")
              .icon__text Следить за ходом<br>строительства


  .breadcrumbs
    .grid.grid--container
      .breadcrumbs__container
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link О компании
        .breadcrumbs__link.breadcrumbs__link--active Вакансии


  section.section.section--gray.scrollme
    .grid.grid--container.scrollme
      h2.h2 Вакансии компании «МегаАльянс»
      p.subheader Каждый сотрудник в своей работе действует исключительно в интересах клиента.

      .parallax(style="background-image: url(img/parallax/about-bg.jpg);")
        .parallax__hero
          img.animateme(src="./img/parallax/vacancies.png", alt=""
            data-when="enter"
            data-from="0"
            data-to="1.5"
            data-translatex="60")
        .parallax__container
          .parallax__title Репутация честной <br>и открытой компании
          .parallax__text «МегаАльянс» успешно работает на рынке недвижимости Краснодара более 8 лет.<br> Сотрудники компании всегда были и остаются важнейшим активом компании. Постоянное обучение и повышение квалификации – именно то, что позволяет достигать результата как каждому сотруднику в отдельности, так и всей компании.
          a(href="").btn Сотрудничать



  section.section.section--blue.scrollme
    .grid.grid--container
      .vacancy
        .vacancy__top
          .vacancy__left
            .vacancy__title Менеджер отдела продаж
          .vacancy__right
            .vacancy__label Обязанности
            .vacancy__text Поиск и привлечение клиентов, заключение и ведение договоров, организация просмотров/показов объектов.
        .vacancy__bottom
          .vacancy__bottom-container
            .vacancy__left
            .vacancy__right
              .vacancy__table
                .vacancy__row
                  .vacancy__col Опыт работы:
                  .vacancy__col.vacancy__col--bold от 1 года
                .vacancy__row
                  .vacancy__col Образование:
                  .vacancy__col.vacancy__col--bold высшее 
                .vacancy__row
                  .vacancy__col График работы: 
                  .vacancy__col.vacancy__col--bold 5/2
                .vacancy__row
                  .vacancy__col Заработная плата:
                  .vacancy__col.vacancy__col--bold оговаривается на собеседовании.
              
              .btn Присоединиться

        .vacancy__arrow
          img(src="./img/arrow.png", alt="")

      .vacancy
        .vacancy__top
          .vacancy__left
            .vacancy__title Инженер-энергетик
          .vacancy__right
            .vacancy__label Обязанности
            .vacancy__text Заключение договоров на поставку энергоресурсов, взаимодействие с подрядными организациями, контроль качества производимых работ
        .vacancy__bottom
          .vacancy__bottom-container
            .vacancy__left
            .vacancy__right
              .vacancy__table
                .vacancy__row
                  .vacancy__col Опыт работы:
                  .vacancy__col.vacancy__col--bold от 1 года
                .vacancy__row
                  .vacancy__col Образование:
                  .vacancy__col.vacancy__col--bold высшее 
                .vacancy__row
                  .vacancy__col График работы: 
                  .vacancy__col.vacancy__col--bold 5/2
                .vacancy__row
                  .vacancy__col Заработная плата:
                  .vacancy__col.vacancy__col--bold оговаривается на собеседовании.
              
              .btn Присоединиться

        .vacancy__arrow
          img(src="./img/arrow.png", alt="")

