extends layout.pug


block content
  .hero.hero--inner(style="background-image: url(img/heroes/vacancies.jpg)")
    .hero__container
      .grid.grid--container
        form.hero-form
          .hero-form__control
            select.custom-select
              option Квартира
              option Квартира
              option Квартира
          .hero-form__control
            select.custom-select
              option Студия
              option Студия
              option Студия
          .hero-form__control
            input(type="text" placeholder="Срок сдачи" data-input).datepicker
          .hero-form__control
            input(type="number" placeholder="от")
          .hero-form__control
            input(type="number" placeholder="до")
          .hero-form__control
            input(type="number" placeholder="Площадь")
          .hero__link
            a(href="").megalink.megalink--white
              .megalink__icon
                img(src="./img/megalink.png", alt="")
              .megalink__text Поиск по карте
          input(type="submit" value="Найти").btn
        .hero__icons
          .hero__icons-left
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/params.png", alt="")
              .icon__text Квартира<br>по параметрам
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/type.png", alt="")
              .icon__text Квартира<br>по типу
            a(href="").icon
              .icon__symbol.icon__symbol--fix
                img(src="./img/icons/house.png", alt="")
              .icon__text Ипотека
            a(href="#calculator").icon.calculator-open
              .icon__symbol
                img(src="./img/icons/calc.png", alt="")
              .icon__text Ипотечный<br>калькулятор
          .hero__icons-right
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/address.png", alt="")
              .icon__text Отделы продаж
          .hero__icons-absolute
            a(href="").icon
              .icon__symbol
                img(src="./img/icons/camera.png", alt="")
              .icon__text Следить за ходом<br>строительства


  .breadcrumbs
    .grid.grid--container
      .breadcrumbs__container
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link О компании
        .breadcrumbs__link.breadcrumbs__link--active Вакансии


  section.section.section--gray.scrollme
    .grid.grid--container.scrollme
      h2.h2 Вакансии компании «МегаАльянс»
      p.subheader Каждый сотрудник в своей работе действует исключительно в интересах клиента.

      .parallax(style="background-image: url(img/parallax/about-bg.jpg);")
        .parallax__hero
          img.animateme(src="./img/parallax/vacancies.png", alt=""
            data-when="enter"
            data-from="0"
            data-to="1.5"
            data-translatex="60")
        .parallax__container
          .parallax__title Репутация честной <br>и открытой компании
          .parallax__text «МегаАльянс» успешно работает на рынке недвижимости Краснодара более 8 лет.<br> Сотрудники компании всегда были и остаются важнейшим активом компании. Постоянное обучение и повышение квалификации – именно то, что позволяет достигать результата как каждому сотруднику в отдельности, так и всей компании.
          a(href="#vacancy").btn.modal-open Сотрудничать



  section.section.section--blue.scrollme
    .grid.grid--container
      .vacancy
        .vacancy__top
          .vacancy__left
            .vacancy__title Менеджер отдела продаж
          .vacancy__right
            .vacancy__label Обязанности
            .vacancy__text Поиск и привлечение клиентов, заключение и ведение договоров, организация просмотров/показов объектов.
        .vacancy__bottom
          .vacancy__bottom-container
            .vacancy__left
            .vacancy__right
              .vacancy__table
                .vacancy__row
                  .vacancy__col Опыт работы:
                  .vacancy__col.vacancy__col--bold от 1 года
                .vacancy__row
                  .vacancy__col Образование:
                  .vacancy__col.vacancy__col--bold высшее 
                .vacancy__row
                  .vacancy__col График работы: 
                  .vacancy__col.vacancy__col--bold 5/2
                .vacancy__row
                  .vacancy__col Заработная плата:
                  .vacancy__col.vacancy__col--bold оговаривается на собеседовании.
              
              a(href="#vacancy").btn.modal-open Присоединиться

        .vacancy__arrow
          img(src="./img/arrow.png", alt="")

      .vacancy
        .vacancy__top
          .vacancy__left
            .vacancy__title Инженер-энергетик
          .vacancy__right
            .vacancy__label Обязанности
            .vacancy__text Заключение договоров на поставку энергоресурсов, взаимодействие с подрядными организациями, контроль качества производимых работ
        .vacancy__bottom
          .vacancy__bottom-container
            .vacancy__left
            .vacancy__right
              .vacancy__table
                .vacancy__row
                  .vacancy__col Опыт работы:
                  .vacancy__col.vacancy__col--bold от 1 года
                .vacancy__row
                  .vacancy__col Образование:
                  .vacancy__col.vacancy__col--bold высшее 
                .vacancy__row
                  .vacancy__col График работы: 
                  .vacancy__col.vacancy__col--bold 5/2
                .vacancy__row
                  .vacancy__col Заработная плата:
                  .vacancy__col.vacancy__col--bold оговаривается на собеседовании.
              
              a(href="#vacancy").btn.modal-open Присоединиться

        .vacancy__arrow
          img(src="./img/arrow.png", alt="")

  #vacancy.modal
    .modal__align
      .modal__container
        .modal__title Откликнуться на вакансию
        form.form
          .form-control
            input(type="text" placeholder="Имя")
          .form-control
            input(type="email" placeholder="Эл. почта")
          .form-control
            input(type="text" placeholder="Телефон").phone-mask
          p Прикрепите резюме
          .box
            input.inputfile#file-1(type="file" name="file-1[]" data-multiple-caption="{count} файлов загружено" multiple)
            label(for="file-1").btn
              svg(xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17")
                path(d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z")
              span Выберите файл&hellip;
          .mini-offset
          .checkbox
            input(type="checkbox" id="checkbox")
            label(for="checkbox").checkbox__label
            label.checkbox__text(for="checkbox") Я согласен на обработку 
              a(href="") персональных данных
          .medium-offset
          button.btn Отправить


  script(src="./js/custom-file-input.js")


