.banks
  .bank
    margin-bottom 1rem
    &__top
      align-items center
      background-color #fff
      cursor pointer
      display flex
      justify-content space-between
      // padding 4rem 4rem
      padding (40 / $container-width * 100)%
      transition all .6s ease
      // will-change filter
    &__info
      align-items center
      display flex
      justify-content space-between
      margin-right 2rem
      width (410 / $container-width * 100)%
    &__logo
      margin-right 1rem
      img
        max-width 100%
    &__percent
      font-size 3rem
      font-weight 300
      flex-shrink 0
    &__table
      display flex
      justify-content center
      .item
        margin-right 7rem
        &__label
          color $secondary
          font-weight 300
          margin-bottom 1rem
        &__text
          font-size 1.8rem
          font-weight 500
    &__arrow
      transition transform .3s ease
      img
        display block
    &__bottom
      background-color #fff
      border-top $border
      display none
      padding (40 / $container-width * 100)% (60 / $container-width * 100)%
    &--active
      .bank
        &__arrow
          transform rotate(180deg)
    &:not(.bank--active):hover
      .bank__top
        transform translateY(-4px)
        // filter: drop-shadow(0 16px 24px rgba(135, 149, 163, .45))
        box-shadow 0 8px 24px 8px rgba(135, 149, 163, .25)
  
  & + .mega-btns
    margin-top 3rem
    
@media(max-width 1200px)
  .banks
    .bank
      position relative
      &__arrow
        position absolute
        right 4rem
        top (25 / 150 * 100)%
      &__top
        flex-wrap wrap
      &__info
        justify-content initial
        margin-bottom 4rem
        width 100%
      &__logo
        margin-right 5rem


@media(max-width 768px)
  .banks
    .bank
      &__top
        padding 2rem
      &__arrow
        position absolute
        right 4rem
        top 2.5rem
      &__bottom
        padding 2rem
  

@media(max-width 600px)
  .banks
    .bank
      &__info
        display block
        margin-bottom 2rem
        margin-right 0
      &__logo
        max-width 80%
        margin-bottom 1rem
        margin-right 2rem
      &__percent
        font-size 1.8rem
      &__arrow
        right 2rem
      &__table
        display block
        .item
          margin-bottom 1rem
          &__label
            margin-bottom .4rem
