.top-header
  background-color $gray
  overflow hidden
  padding 1.2rem 0
  &__container
    display flex
    justify-content flex-end
  &__phone
    align-items center
    background-color $light-gray
    display flex
    font-weight 500
    font-size 1.8rem
    margin -2rem 0
    padding 0 3rem
  &__callback
    align-items center
    background-color $primary
    color #fff
    display flex
    font-weight 500
    font-size 1.8rem
    margin -2rem 0
    margin-right 4.5rem
    padding 0 3rem
  &__item
    display inline-block
    &:not(:last-child)
      margin-right 9rem
  &__icon
    display inline-block
    margin-right 1rem
    vertical-align middle
  &__text
    color #838383
    display inline-block
    vertical-align middle

.main-header
  // padding 2.5rem 0
  position relative
  &__container
    align-items center
    display flex
    justify-content space-between

.logo
  background-image url('../../img/logo.png')
  background-position center
  background-repeat no-repeat
  background-size contain
  display block
  flex-shrink 0
  height 57px
  text-decoration none
  width 203px
  &--white
    background-image url('../../img/logo-white.png')
  &--with-solid
    background-image url('../../img/logo-with-solid.png')
    display inline-block
    height 85px
    margin-bottom 4rem
    width 180px

.nav
  display flex
  // margin-right -2.5rem
  margin-right .8rem
  &__link
    // background-color teal
    // border-left 1px solid #eee
    display block
    font-weight 400
    text-decoration none
    // padding .6rem 2.5rem
    & > a
      display block
      padding 4.5rem 2.8rem
      position relative
      &:before,
      &:after
        background-color #f1efef
        content ''
        height 36px
        left 0
        position absolute
        top 35px
        width 1px

    &:after
      content ''
      display block
      background-color $primary
      height 2px
      transition width .25s ease
      // transform translateY(2.6rem)
      width 0
    &:hover .subnav
      opacity 1
      transform none
    &:hover
    &--active
      &:after
        width 100%

.main-header__menu-toggle
  align-items center
  display flex
  padding 0 2rem
  position relative
  &:before,
  &:after
    background-color #f1efef
    content ''
    height 36px
    left 0
    position absolute
    top 35px
    width 1px
  &:after
    left initial
    right -10px
.menu-toggle
  cursor pointer
  margin-left 1rem
  margin-top -3px

  span
    background-color $primary
    border-radius 30%
    display block
    height 3px
    transition transform .2s ease
    width 24px
    &:nth-child(2)
      margin-top 4px
    &:nth-child(3)
      margin-top 4px
  &--active
    span
      &:nth-child(1)
        transform rotate(45deg) translate(5px, .5rem)
      &:nth-child(2)
        opacity 0
      &:nth-child(3)
        transform rotate(-45deg) translate(5px, -.5rem)

.subnav
  background-color #f8f9fa
  border-top 1px solid #f1efef
  bottom -5.7rem
  opacity 0
  padding 2rem 0
  position absolute
  // transform translateY(1rem)
  transition all .3s ease
  left 0
  width 100%
  z-index 100
  &__link
    margin-right 5rem
    &:hover
      color $primary


.menu
  background-color #9ba6b0
  color #fff
  display none
  // max-height 80rem
  padding-bottom (60 / 970 * 100)vh
  padding-top (140 / 970 * 100)vh
  position absolute
  top 15.5rem
  width 100%
  z-index 600
  &__form
    margin-bottom (90 / 970 * 100)vh
    .form-control
      margin-right 1.5rem
      width 100%
      input
        background-color transparent
        border-color #fff
        color #fff
        padding-left 5rem
        &::placeholder
          color #fff
      .search-img
        left 2rem
        position absolute
        top 1.8rem
  .btn
    img
      display none
  &__search
    display flex
  &__list
    margin-bottom (200 / 970 * 100)vh
    .item
      &__title
        font-size 2rem
        font-weight 500
        margin-bottom 4rem
      &__link
        display block
        margin-bottom 1.5rem
  .socials
    margin-bottom 0
    .fa
      color #9ba6b0
  &__bottom
    .megalink
      &:not(:last-child)
        margin-right 10rem


@media(max-width 1200px)
  .top-header
    &__time
      display none
    &__phone
      padding 0 2rem
    &__callback
      padding 0 2rem
  .nav
    &__link
      display none
  .menu
    padding-top 8vh
    &__form
      margin-bottom 2vh
    &__list
      margin-bottom 8vh
    top 10.5rem


@media(max-width 767px)
  .top-header
    &__container
      display flex
      justify-content space-between
    &__callback
      font-size 1.4rem
      margin-right 1rem
      padding 0 1rem
    &__phone
      background-color initial
      font-size 1.4rem
      margin-right 1rem
      padding 0
    &__likes
      .top-header
        &__icon
          margin-right 0
        &__text
          display none
  .menu
    padding-top 4rem
    &__list
      margin-bottom 4rem
    .socials
      margin-bottom 2rem
    &__bottom
      .megalink
        &:not(:last-child)
          margin-right 2rem

@media(max-width 500px)
  .menu
    .btn
      span
        display none
      img
        display block