.hero
  background-repeat no-repeat
  background-position bottom center
  background-size cover
  min-height 60rem
  height calc(100vh - 15rem)
  position relative
  // margin-bottom $main-offset
  width 100%
  &-shit-slider
    height 100%
    position absolute
    top 0
    z-index -1
    width 100%
    .slide
      background-position bottom center
      background-size cover
      min-height 60rem
      height calc(100vh - 26.5rem)
      width 100%
  &__padding
    padding 0 (184 / 1900 * 100)%
    width 100%
  &__container
    align-items flex-end
    display flex
    height 100%
  &-form
    border-radius $radius
    display flex
    // height 5.4rem
    margin-bottom 10rem
    position relative
    &__control
      width 100%
      input,
      select,
      .select2-selection--single
        border none
        border-radius 0
        font-family $font
        font-size 1.4rem
        height 5.4rem !important
        padding-left 2rem
        width 100%
        -webkit-appearance none
      .select2-selection--single
        padding-top 1.8rem
      &:not(:last-child)
        border-right $border
    .btn
      margin-left 1rem
    .form-control
      margin-bottom 0
  &__link
    bottom -3.5rem
    position absolute
    right 15rem
  &__logo
    img
      max-width 100%
  &--small
    height calc(100vh - 26.5rem)
  &--inner
    height 60rem

.hero-slider
  // margin-bottom 14rem !important
  margin-bottom (70 / 960 * 100)% !important
  .slide
    color #fff
    &__title
      font-size 4.8rem
      font-weight 600
      margin-bottom 3rem
    &__subtitle
      font-size 2.2rem
      font-weight 500
      margin-bottom .5rem
    &__sub
      font-size 2.2rem
      font-weight 400
  .slick-dots
    margin-top 3.6rem
    position initial
    text-align left

.hero
  &__info
    align-items flex-end
    color #fff
    display flex
    justify-content space-between
    margin-bottom 10rem
  &__address
    font-size 4rem
    font-weight 300
    margin-bottom 3rem
  &__title
    font-size 6rem
    font-weight 600
    margin-bottom 3rem
  &__subtitle
    font-size 2.2rem
    font-weight 500
    margin-bottom 2rem

.hero__icons
  display flex
  justify-content space-between
  margin-bottom 6rem
  &-left
    display flex
  .icon
    align-items center
    cursor pointer
    display flex
    flex-shrink 0
    // margin-right 7rem
    margin-right (80 / 1000 * 100)%
    &__symbol
      align-items center
      border 2px solid #fff
      border-radius 50%
      circle(57px)
      display flex
      flex-shrink 0
      justify-content center
      margin-right 1rem
      vertical-align middle
      transition all .1s ease
      img
        display block
      &--fix
        img
          transform translateY(-1px)
    &__text
      color #fff
      font-size 1.4rem
      font-weight 600
      line-height 1.2
    &:hover
      .icon
        &__symbol
          background-color $primary
          border-color $primary
  &-right
    .icon
      margin-right 0
  &-absolute
    position absolute
    top 7rem
    right (180 / 1900 * 100)%
    .icon
      width 100%
    

.hero-shit-slider
  &__arrow
    align-items center
    background-color $primary
    border-radius 50%
    color #fff
    cursor pointer
    display flex
    justify-content center
    height 5.7rem
    width 5.7rem
    position absolute
    top calc(50% - 2.8rem)
    z-index 9999
    &--left
      left 4rem
      .fa
        transform translateX(-1px)
    &--right
      right 4rem
      .fa
        transform translateX(1px)
    .fa
      font-size 2.4rem
      font-weight 600



@media(max-width 1200px)
  .hero
    &-slider
      margin-bottom 2rem !important
      .slide
        &__title
          font-size 3.2rem
        &__subtitle
          font-size 1.8rem
        &__sub
          font-size 1.8rem
      .slick-dots
        margin-top 1.6rem
    &-shit-slider
      &__arrow
        display none

@media(max-width 1000px)
  .hero
    height initial
    min-height initial
    &__container
      display block
      // padding-top 8rem
      padding-top 7%
    &-form
      flex-wrap wrap
      justify-content space-between
      margin-bottom 7%
      &__control
        display block
        margin-bottom 1rem
        width 50%
    &__link
      margin-top 3.5rem
      position initial
    &__icons
      display none
    .btn
      margin-top 2rem
    &--small
      .hero
        margin-top 20rem
        &__container
          padding-top 15rem
        &__address
          font-size 2.4rem
          margin-bottom 1rem
        &__title
          font-size 4rem
        &__subtitle
          font-size 1.8rem
        &__info
          margin-bottom 4rem
        &__logo
          width 10rem

@media(max-width 767px)
  .hero
    &__info
      display block
    &__title
      font-size 3rem
      margin-bottom 2rem
    &__subtitle
      font-size 1.6rem
      font-weight 400
    &__logo
      position absolute
      top 2rem
      width 15rem
      img
        max-width 100%
    &--small
      .hero
        &__container
          padding-top 12rem
        &__address
          font-size 1.8rem
        &__title
          font-size 3.3rem

