.layouts
  &__left
    display flex
  &__right
    display flex
  &-link
    align-items center
    display flex
    &__icon
      margin-right 1rem
    &:not(:last-child)
      margin-right 5rem
  &__controls
    align-items center
    display flex
    justify-content space-between
    margin-bottom 4rem
    .layouts-sort
      align-items center
      cursor pointer
      display flex
      margin-right 5rem
      &__icon
        background-image url('../../img/layout-arrow.png')
        background-repeat no-repeat
        background-size contain
        circle(1rem)
        display inline-block
        margin-right 1rem
      &__text
        display inline-block
      &--active
        .layouts-sort
          &__icon
            background-image url('../../img/layout-arrow-acitve.png')
            circle(2rem)

.layout
  background-color #fff
  margin-bottom 3rem
  position relative
  &__top-header
    margin-bottom 2.5rem
    padding-left 3rem
    padding-top 3rem
  &__top-foot
    align-items center
    display flex
    justify-content space-between
    padding 3rem 2.5rem
  &__title
    color #8795a3
    margin-bottom 1rem
  &__number
    color #8795a3
  &__size
    align-items center
    display flex
    &-number
      align-items center
      border $border
      circle(5.7rem)
      border-radius 50%
      display flex
      font-size 2.4rem
      font-weight 500
      justify-content center
      margin-right 1.5rem
    &-label
      display inline-block
      font-weight 600
  &__price
    &-label
      font-weight 600
      font-size 1.8rem
      margin-bottom .4rem
    &-number
      color $primary
      font-size 2rem
      font-weight 600

  &__bottom
    border-top $border
    display flex
    &-label
      color #8795a3
      margin-bottom .5rem
    &-text
      font-weight 600
      span
        color $primary

  &__complecs-name
    border-left 3px solid $primary
    border-right $border
    padding 2rem
    padding-left 2rem
    padding-right 6rem
  &__letter
    border-right $border
    padding 2rem
    padding-left 2rem
  &__floor
    padding 2rem
    padding-left 2rem

  &__lock
    background-image url('../../img/lock.png')
    height 24px
    position absolute
    right 7rem
    top 3rem
    width 17px
  .like
    background-image url('../../img/like-gray.png')
    right 2.5rem
    width 2.4rem
    &--active
      background-image url('../../img/like-active-border.png')
      

@media(max-width 600px)
  .layouts
    &__controls
      display block
    &__left
      margin-bottom 2rem

@media(max-width 450px)
  .layout
    &__top-header
      padding-top 7rem
    &__top-foot
      display block
    &__size
      margin-bottom 2rem
    &__bottom
      display block
    &__complecs-name
      border-bottom $border
      border-right 0
      padding 1rem
      padding-left 2rem
    &__letter
      border-bottom $border
      border-right 0
      padding 1rem
      padding-left 2rem
    &__floor
      padding 1rem
      padding-left 2rem











