// body
//   debug()
// html.mobile-menu-was-open
//   overflow hidden

@media(max-width 1630px)
  .nav
    margin-right 0

@media(max-width 1550px)
  .grid--container
    max-width 96%
  .nav
    &__link
      & > a
        padding 4.5rem 1rem
  .pre-footer
    &__arm
      right 5%

@media(max-width 1400px)
  .logo
    width 150px
  .form-control--inline
    label
      margin-right 1rem
    input,
    select,
    .select2-selection--single
      max-width initial
  // .nav
  //   &__link
  //     & > a
  //       padding 4.5rem 1rem

@media(max-width 1200px)
  body
    &.body--cursor-pointer
      cursor pointer
  .pre-footer
    &__arm
      right 0

