h1
  margin 0

.h1,
.h2,
.h3,
.p,
p
  margin 0
  margin-bottom 1rem

p
  font-size 1.6rem
  line-height 1.6

.subheader
  font-size 1.8rem
  font-weight 300
  margin 0
  margin-bottom 5rem
  text-align center

.h1
  // font-family $font-header
  font-size 6rem
  font-weight 300
  line-height 1.1
  margin-bottom 3.5rem
  text-transform uppercase

.h2
  font-size 4.8rem
  // font-family $font-header
  font-weight 300
  line-height 1
  margin-bottom 3rem
  text-align center

.h3
  // font-family $font-header
  font-size 3.2rem
  font-weight 800
  line-height 1.2
  margin-bottom 2rem

.h4
  display inline-block
  font-size 2rem
  font-weight 500
  line-height (30 / 20)
  margin-bottom 1.5rem
  margin-top 0

.h5
  display inline-block
  font-size 1.6rem
  font-weight 500
  line-height 1.2
  letter-spacing .4px
  margin-bottom 2.4rem
  margin-top 0
  text-transform uppercase

.index,
.inner
  .p
    font-size 1.6rem
    font-weight 400
    line-height 1.65
    margin-bottom 3rem
  .strong
    display inline-block
    font-size 1.6rem
    font-weight 400
    margin-bottom .5rem
  .i
    color $gray
    display inline-block
    font-family $font-header
    font-weight 400
    line-height 1.6
    margin-bottom 3.5rem
  blockquote
    color $primary
    display block
    font-weight 300
    line-height $line-height
    margin-bottom 4rem
    margin-left 0
    padding-left 3.5rem
    position relative
    &:before
      background-color $primary
      content ''
      height 100%
      left 0
      position absolute
      top 0
      width 2px

.inner
  .p
    & + ul
      margin-top -2.4rem
  ul
    margin-bottom 2.4rem
    padding-left 2rem
    li
      color $main
      line-height 1.6
      list-style-type none
      margin-bottom .8rem
      position relative
      &:after
        background-color $primary
        circle(4px)
        content ''
        position absolute
        left -1.9rem
        top 12px
  sup
    font-size 60%
    top -.7em

.ul-offset
  padding-left 6rem !important


.text-primary
  color $primary


.uppercase
  text-transform uppercase

@media(max-width 500px)
  .h3
    line-height 1

