@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic')

@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'helpers/helpers.styl'

@import 'base/base.styl'
@import 'base/ui.styl'
@import 'base/table.styl'
@import 'base/typography.styl'
@import 'base/animations.styl'
@import 'base/icons.styl'
@import 'base/modal.styl'

@import 'modifications/modifications.styl'

@import 'components/header.styl'
@import 'components/hero.styl'
@import 'components/banks.styl'
@import 'components/red-slider.styl'
@import 'components/news.styl'
@import 'components/layout.styl'
@import 'components/article.styl'
@import 'components/manager.styl'

@import 'pages/index.styl'
@import 'pages/object.styl'
@import 'pages/inner.styl'

// .grid--container
//   max-width 1540px

.grid--container
  max-width initial
  padding 0 (184 / 1900 * 100)%


.megalink
  &__icon
    display inline-block
    margin-right 1rem
    vertical-align middle
    transition all .3s ease
    img
      display block
  &__text
    display inline-block
    font-weight 500
    vertical-align middle
  &:hover
    color $primary
    .megalink
      &__icon
        transform translateX(.5rem)
  &--white
    color #fff

.mega-btns
  display flex
  .mega-btn
    &:not(:last-child)
      margin-right 4rem

.mega-btn
  align-items center
  display flex
  img
    display block
    margin-right 1rem
  span
    font-weight 500

.calculator-open
  cursor pointer

.breadcrumbs
  background-color #fff
  padding 5rem 0
  &__link
    color $secondary
    display inline-block
    font-size 1.4rem
    position relative
    line-height 1
    text-decoration none
    &:after
      content '\f105'
      color $primary
      font-family FontAwesome
      font-weight 600
      position absolute
      right -1.6rem
      top 0
    &--active
      &:after
        display none
      &:hover
        color $secondary !important
    &:not(:last-child)
      margin-right 3rem
    &:hover
      color $primary

.like
  background-image url('../../img/like.png')
  background-size contain !important
  background-repeat no-repeat !important
  cursor pointer
  height 2.1rem
  position absolute
  right 3rem
  top 3rem
  width 2.5rem
  &:hover,
  &--active
    background url('../../img/like-active.png')


.card
  margin-bottom 3rem
  &__img
    align-items flex-end
    background-size cover
    background-repeat no-repeat
    display flex
    min-height 28rem
    padding 2.5rem
    position relative
  &__title
    color #fff
    font-size 2.4rem
    font-weight 600
    margin-bottom 1rem
  &__address
    align-items center
    color #fff
    display flex
    font-weight 600
    img
      margin-right 1rem
  &__container
    background-color #fff
    padding 3rem 2.5rem
    position relative
  &__table
    margin-bottom 2rem
  &__row
    border-bottom 1px solid #eaeaea
    display flex
    justify-content space-between
    margin-bottom 1.2rem
    padding-bottom 1.2rem
  &__price
    margin-bottom 2.5rem
    position relative
    &:after
      background-color $primary
      content ''
      height 34px
      position absolute
      right -2.5rem
      top -1rem
      width 4px
  &__button
    align-items center
    display flex
    img
      margin-right 1rem
    span
      color #fff
      font-weight 600
    &:hover
      span
        color $primary
  &__status
    bottom 2.5rem
    color $gray - 10%
    display flex
    position absolute
    right 2.5rem
    img
      display block
      margin-right 1rem
    span
      transform translateY(1px)


.map
  width 100%
  height 64rem
  max-height 60vh
  opacity 0
  position relative
  transition opacity .3s ease
  &__align
    align-items center
    display flex
    height 100%
    justify-content flex-end
    padding-right (300 / $container-width * 100)%
    position absolute
    width 100%
  &__info
    background-color rgba($primary, .9)
    color #fff
    padding 5rem 3rem
    text-align center
    z-index 20
  .logo
    margin-bottom 1rem
  &__address
    font-size 2rem
    font-weight 600
    margin-bottom 0
  &__p
    font-size 1.6rem
    font-weight 500
    margin-bottom 0
  &--active
    opacity 1

.file
  align-items flex-start
  display flex
  margin-bottom 9rem
  &__icon
    margin-right 2rem
    img
      display block
  &__name
    font-weight 500
    text-decoration none
  &__size
    color #838383
    margin-top 1rem


.short-news
  display flex
  &__left
    color $primary
    // padding-left 3rem
    width 26rem

.pre-footer
  background-color #95a3b3
  overflow hidden
  padding $main-padding
  &__container
    padding-left (275 / $container-width * 100)%
    position relative
    &:before
      palka()
      background-color #fff
      height 3px
      width 62px
  &__arm
    bottom -10rem
    position absolute
    right (300 / $container-width * 100)%
    transition transform .3s ease
  &:hover
    .pre-footer
      &__arm
        transform translateY(-2rem)
      

.main-footer
  background #282828
  padding $main-padding
  .logo
    margin-bottom 3rem
  p
    color #fff
    font-size 1.4rem

.main-footer-nav
  &__link
    margin-bottom 2rem
    a
      border-bottom 1px dotted rgba(#fff, .2)
      color #fff
      font-weight 600
  &--gray
    .main-footer-nav
      &__link
        a
          color $dark-gray
          font-size 1.4rem

.copy
  color $dark-gray
  font-size 1.4rem
  line-height 1.6
  margin-bottom 4.5rem

.wf
  color #fff
  display block
  font-size 1.4rem
  &:hover
    color $primary

.socials
  display flex
  margin-bottom 3.5rem
  .social
    align-items center
    background-color #fff
    border-radius 50%
    circle(4rem)
    color #303334
    display flex
    flex-shrink 0
    justify-content center
    .fa
      font-size 1.8rem
    .fa-vk
      transform translateX(-1px)
    &:not(:last-child)
      margin-right .6rem

@import 'base/media.styl'


